<html>

<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <p><input type=file name=file>
     <input type=submit value=Upload>   
</form>

<!-- show error from flash -->
{% if error %}
<span style="color: red;">{{ error }}</span>
{% endif %}


{% if filename %}
<img src="{{ url_for('send_file', filename=filename) }}">
<a href="{{ url_for('return_file', filename=filename)}}" target="blank"><button>Download!</button></a>
<a href="" target="blank"><button>Denoise</button></a>
<!-- {{ url_for('denoise', filename=filename)}} -- PUT IN HREF -->


<!-- Disable all the buttons if there is no file uploaded -->
{% else %}
<a href="" target="blank"><button>Download!</button></a>
<a href="" target="blank"><button>Denoise</button></a>
{% endif %}




</html>